* {
/*  border: 1px solid black;
  box-sizing: border-box;*/
  text-align: center;
  margin: 0 auto;
  padding: 0;
  /*font-family: helvetica;*/
  /*transition-duration: 16ms;*/
  /*font-family: 'Faster One', cursive;*/
  /*font-family: 'Seven Segment';*/
  /*color: orange;*/
}

body {
  background-color: #222;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header {
  /*background-color: yellow;*/
  width: 100%;
}

.footer {
  /*background-color: blue;*/
  width: 100%;
  font-family: futura;
  font-style: italic;
  color: #DDDDDD;
  font-size: 30px;
  /*line-height: 50px;*/
  /*padding: 1%;*/
}

#copy {
  font-size: 14px;
}

#gamebox-parent {
  position: relative;
  overflow: hidden;
}

.gamebox-child {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#plane1 {
  z-index: 10;
}

#plane2 {
  z-index: 9;
}

#plane3 {
  z-index: 8;
}

#plane4 {
  z-index: 7;
}

#plane5 {
  z-index: 6;
}

#plane6 {
  z-index: 5;
}

#plane7 {
  z-index: 4;
}

#plane8 {
  z-index: 3;
}

#plane9 {
  z-index: 2;
}

#plane10 {
  z-index: 1;
  background-color: gray;
}






