* {
  border: 1px solid black;
  box-sizing:border-box;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.top {
  order: 1;
}

#gamebox {
  order: 2;
/*  width: 1000px;
  height: 800px;*/
}
